.element {
    max-height: 75px;
    min-height: 75px;
    max-width: 75px;
    min-width: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.AlkaliMetal {
    background-color: #ff6666
}
.AlkalineEarthMetal {
    background-color: #ffdead
}
.Lanthanide {
    background-color: #ffbfff
}
.Actinide {
    background-color: #ff99cc
}
.TransitionMetal {
    background-color: #ffc0c0
}
.PostTransitionMetal {
    background-color: #cccccc
}
.Metalloid {
    background-color: #cccc99
}
.ReactiveNonMetal {
    background-color: #f0ff8f
}
.NobleGas {
    background-color: #c0ffff
}

.element > h6 {
   margin: 0; 
   height: 1em;
}
.element > .wrapper {
    margin: 0 0 5px 0;

}
.element > .wrapper > h6 {
    height: 1em;
    margin: 0;
}

.element > .name {
    align-items: flex-end;
}

.element > .wrapper {
    align-content: flex-end;
}

.element > .symbol {
    align-self: flex-end;
}

.ref1 {
    grid-area: ref1;
    text-align: center;
}

.ref2 {
    grid-area: ref2;
    text-align: center;
}

.H {
    grid-area: H;
}

.He {
    grid-area: He;
}

.Li {
    grid-area: Li;
}

.Be {
    grid-area: Be;
}

.B {
    grid-area: B;
}

.C {
    grid-area: C;
}

.N {
    grid-area: N;
}

.O {
    grid-area: O;
}

.F {
    grid-area: F;
}

.Ne {
    grid-area: Ne;
}

.Na {
    grid-area: Na;
}

.Mg {
    grid-area: Mg;
}

.Al {
    grid-area: Al;
}

.Si {
    grid-area: Si;
}

.P {
    grid-area: P;
}

.S {
    grid-area: S;
}

.Cl {
    grid-area: Cl;
}

.Ar {
    grid-area: Ar;
}

.K {
    grid-area: K;
}

.Ca {
    grid-area: Ca;
}

.Sc {
    grid-area: Sc;
}

.Ti {
    grid-area: Ti;
}

.V {
    grid-area: V;
}

.Cr {
    grid-area: Cr;
}

.Mn {
    grid-area: Mn;
}

.Fe {
    grid-area: Fe;
}

.Co {
    grid-area: Co;
}

.Ni {
    grid-area: Ni;
}

.Cu {
    grid-area: Cu;
}

.Zn {
    grid-area: Zn;
}

.Ga {
    grid-area: Ga;
}

.Ge {
    grid-area: Ge;
}

.As {
    grid-area: As;
}

.Se {
    grid-area: Se;
}

.Br {
    grid-area: Br;
}
.Kr {
    grid-area: Kr;
}
