* {
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

.header {
    grid-area: header;
}

.mainTable {
    grid-area: mainTable;
}

body {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 10% 60% 25% 5%;
    grid-template-areas: 
    "header header"
    "mainTable mainTable"
    ". secondTable"
}




