.mainTable {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    background-color: blanchedalmond;
    padding: 1em;
    border-radius: 20px;
    grid-template-columns: repeat(19, 75px [col-start]);
    grid-template-rows: repeat(7, 75px [col-start]);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    grid-template-areas: 
    "H . . . . . . . . . . . . . . . . . He"
    "Li Be . . . . . . . . . . . B C N O F Ne"
    "Na Mg . . . . . . . . . . . Al Si P S Cl Ar"
    "K Ca Sc ref1 Ti V Cr Mn Fe Co Ni Cu Zn Ga Ge As Se Br Kr";
}

